.body {
    font-family: "Poppins", sans-serif; /* Change to your preferred font */
    background: linear-gradient(125deg, rgba(0,0,0,1) 0%, rgb(114, 114, 114) 51%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form_container {
    background: linear-gradient(125deg, rgba(144, 176, 218) 0%, rgba(228, 228, 228, 0.774) 52%, rgb(144, 176, 218) 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    font-family: "Roboto", sans-serif; 
}

.form_container h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 44px;
}
.form_group {
    margin-bottom: 20px;
}
.form_group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.form_group select,
.form_group input,
.form_group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    background-color: #f3f4f6;
}
.form_group textarea {
    resize: vertical;
    height: 100px;
}

.form_group .subject{
    width: 96.5%;
}

.form_group .radio_group {
    display: flex;
    align-items: center;
}
.form_group .radio_group label {
    margin-right: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
}
.form_group .radio_group input {
    margin-right: 5px;
}
.form_group .radio_group label:last-child {
    margin-right: 0;
}
.form_group .submit_btn {
    background-color: #3b82f6;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form_group .submit_btn:hover {
    background-color: #2563eb;
}

.form_group_whome label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form_group_whome .radio_group label{
    margin-right: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
}
.form_group_whome .radio_group {
    display: flex;
    align-items: center;
}
.form_group_whome {
    margin-bottom: 20px;
}
.change_styles{
    width: 200px;
}

#document_date{
    width: 96.5%;
}

#description{
    width: 96.5%;
} 