.body {
    font-family: 'Roboto', sans-serif;
    margin: 50px 200px;
    
}
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    overflow: hidden;
}
.th, .td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
.th {
    background-color: #f4f4f4;
    font-weight: 700;
}
.tr:nth-child(even) {
    background-color: #f9f9f9;
}
.priority_immediate {
    color: red;
    font-weight: bold;
}
.priority_normal {
    color: green;
    font-weight: bold;
}
.receiveButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}
.receiveButton:hover {
    background-color: #ff1111;
}